html {
  height: 100%;
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(315deg, #2a7c19 0%, #2fbf29 100%);
}
.container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: 100px;
}
#left,
#right,
#total {
  background: #dadfea;
  box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.5);
  padding: 10px;
}
#left {
  padding: 5px;
}
#right {
  display: flex;
}
.column {
  border: 1px gray solid;
  background: white;
  padding: 5px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.cHeader {
  padding: 10px 10px 15px 10px;
  font-weight: bold;
  font-size: 12pt;
}
.pHeader {
  padding: 15px;
  font-weight: bold;
  font-size: 12pt;
}
input {
  width: 30px;
  text-align: center;
}
.playerLabel {
  text-align: right;
}
